body {
    font-family: Arial;
    background-color: silver;
    align-items: center;


}
.auth-page {
    padding: 20px;
    align-items: center;

}
.form-container {
    padding: 30px;
    margin-left:40%;
    margin-right: 40%;
    margin-top: 100px;
    background-color: salmon;
    width: 20%;
    align-items: center;
}

form input, form button {
    width:100%;
    padding:5px;
    margin-top:5px;
    margin-bottom:5px;
}
.form-container .notification{
    width:10%;
}